@import '../abstracts/variables';

.password-strength-meter-container {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #e9ecef;
    overflow: hidden;
    top: -4px;
    border-radius: 0px 0px 15px 15px;
}

.password-strength-meter {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    transition: width 0.3s ease, background-color 0.3s ease;

    &.weak {
        background-color: $danger-color;
    }

    &.fair {
        background-color: $warning-color;
    }

    &.good {
        background-color: $info-color;
    }

    &.strong {
        background-color: $success-color;
    }
}

.password-feedback {
    color: $warning-color;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}