@page
@model IdentityServer.Pages.ExternalLogin.Callback
@{
    Layout = null;
    ViewData[ViewDataKeys.Title] = "External Login Callback";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>