@page
@using IdentityServer.Pages.Account
@using IdentityServer.Pages.Account.Manage
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IdentityServer.Pages.ExternalLogin.LinkModel
@{
    ViewData[ViewDataKeys.Title] = "Link";
    ViewData[ViewDataKeys.ShowNav] = false;
    ViewData[ViewDataKeys.ShowFooter] = false;
}

<div class="focus-container container">
    <div class="focus-card focus-card--md">
        <div class="focus-header">
            <div class="logo">
                <img src="~/logo.png" alt="Logo">
            </div>
            <h1>Link Account</h1>
        </div>
        <div class="focus-content">
            <p>@Html.Raw(Model.Message)</p>
            <p class="text-muted">
                For your security, you must <a asp-page="@AccountPageConstants.Login">log in</a>
                using your email and password OR with an external login that has already been linked to your account.
                Once logged in you can manually link an additional third party login provider.
                This helps protect your data in the event that your external login were to be compromised.
                This ensures a bad actor will not be able to automatically link your external login and gain access to your account.
            </p>
            <p>
                External logins can be managed <a asp-page="@AccountManagementPageConstants.ManageExternalLogins">here</a> once logged in.
            </p>
        </div>
    </div>
</div>