@page
@model ConfirmEmailChangeModel
@{
    ViewData[ViewDataKeys.Title] = "Confirm Email Change";
}

<h1>@ViewData[ViewDataKeys.Title]</h1>

<partial name="_StatusMessage" model="Model.StatusMessage" />