@page
@model ForgotPasswordConfirmation
@{
    ViewData[ViewDataKeys.Title] = "Forgot Password Confirmation";
}

<h1>@ViewData[ViewDataKeys.Title]</h1>
<p>
    Please check your email to reset your password.
</p>
