@page
@model ResetPasswordConfirmationModel
@{
    ViewData[ViewDataKeys.Title] = "Reset Password Confirmation";
}

<h1>@ViewData[ViewDataKeys.Title]</h1>
<p>
    Your password has been reset. Please <a asp-page="@AccountPageConstants.Login">click here to log in</a>.
</p>
