<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--<add key="duende" value="https://www.myget.org/F/duende_identityserver/api/v3/index.json" />-->
    <add key="melodic" value="https://pkgs.dev.azure.com/melodic-software/melodic-main/_packaging/main-nuget/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="melodic">
      <package pattern="Melodic.*" />
    </packageSource>
    <!--This one is a workaround for an ADO issue with package source mapping-->
    <!--https://github.com/NuGet/Home/issues/11406-->
    <packageSource key="feed-melodic">
      <package pattern="Melodic.*" />
    </packageSource>
    <!--<packageSource key="duende">
      <package pattern="Duende.*" />
    </packageSource>-->
  </packageSourceMapping>
</configuration>