@import 'variables';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin input-focus {
    border-color: $primary-color;
    outline: 0;
    box-shadow: $input-focus-shadow;
}

@mixin button-hover {
    transform: translateY(-2px);
    box-shadow: $box-shadow;
}

@mixin button-variant($color, $hover-color: darken($color, 7.5%)) {
    $text-color: get-contrast-color($color);
    $hover-text-color: get-contrast-color($hover-color);

    color: $text-color;
    background-color: $color;
    border-color: $color;
    transition: $transition-base;

    &:hover {
        color: $hover-text-color;
        background-color: $hover-color;
        border-color: $hover-color;
    }

    &:focus, &.focus {
        color: $hover-text-color;
        background-color: $hover-color;
        border-color: $hover-color;
        box-shadow: 0 0 0 $focus-ring-width rgba($color, 0.5);
    }

    &:active, &.active {
        $active-color: darken($hover-color, 5%);
        $active-text-color: get-contrast-color($active-color);

        color: $active-text-color;
        background-color: $active-color;
        border-color: $active-color;

        &:focus {
            box-shadow: 0 0 0 $focus-ring-width rgba($color, 0.5);
        }
    }
}