@page
@model DownloadPersonalDataModel
@{
    ViewData[ViewDataKeys.Title] = "Download Your Data";
    ViewData[ViewDataKeys.ActivePage] = ManageNavPages.PersonalData;
}

<h3>@ViewData[ViewDataKeys.Title]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
